body {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 12px;
    text-align: center;
    cursor: crosshair;

}


.video-container {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container iframe,
.video-container embed {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 80%;
    max-width: 100%;
}

.video-wrap {
    width: 100%;
}


a {
    color: #000;
}

.cls-1 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.segment {
    width: 100%;
}

.brick {
    position: relative;
}
.text {
    position: absolute;
}

.about-2 {
    margin: 20vh 0 0 30vw;
    width: 20vw;
}

.weakness-cover {
    margin: 30vh 0 0 50vw;
    width: 35vw;
}

.weakness-blurb {
    left: -22vw;
    top: 20vh;
    width: 20vw;
}


.ep-art-1 {
    width: 30vw;
    margin: 5vh 0 0 30vh;
}

.ep-blurb {
    top: -5vh;
    left: 20%;
    margin-top: 31vh;
    width: 35vw;
}

.ep-blurb-2 {
    margin-top: 10vh;
}

.ep-art-2 {
    width: 30vw;
    margin: 20vh 0 0 46vw;
}

.ep-art-3 {
    width: 30vw;
    margin: 40vh 0 0 61vw;
}

.waterfall-blurb {
    right: 100%;
    top: 0;
}

.descriptor {
    width: 75vw;
    margin: 30vh 0 0 15vw;
    letter-spacing: 0px;
}

.weakness-gif {
    width: 30vw;
    margin: 45vh 0 0 25vw;
}

.weakness-gif img {
    width: 30vw;
}

.descriptor img {
    width: 40%;
    margin: 5%
}

.sxsw-cover {
    width: 35vw;
    margin: 25vh 0 0 10vw;
}

.sxsw-blurb {
    right: -50%;
    width: 40%;
    top: 50%;
    text-align: left;
}

.dysphoria-cover {
    width: 35vw;
    margin: 40vh 0 0 40vw;
}

.dysphoria-blurb {
    right: 0;
    top: -5vh;
}

.dysphoria-2 {
    margin: 30vh 0 0 20vw;
    width: 70vw;
}

.dysphoria-2-blurb {
    left: 0;
    top: -10vh;
    width: 25vw;
}

.dysphoria-3 {
    margin: 25vh 0 0 10vw;
    width: 70vw;
}

.dysphoria-3-blurb {
    right: -20%;
    top: -10vh;
    width: 50%;
}

.dysphoria-6 {
    margin: 35vh 0 0 5vw;
    width: 70vw;
}

.dysphoria-6-blurb {
    left: 0;
    top: -5vh;
    width: 30vw;
}

.dysphoria-9 {
    margin: 40vh 0 0 10vw;
    width: 70vw;
}

.dysphoria-9-blurb {
    left: 0;
    top: -5vh;
}

.dysphoria-moodboard {
    margin: 50vh 0 0 30vw;
    width: 60vw;
}

.dysphoria-moodboard-blurb {
    top: -30%;
}

.son-cover {
    width: 60vw;
    margin: 50vh 0 0 15vw;
}

.son-blurb {
    top: -10vh;
}

.son-2 {
    width: 40vw;
    margin: 40vh 0 0 15vw;
}

.son-2-blurb {
    top: -5vh;
    right: -10vw;
}

.son-3 {
    width: 50vw;
    margin: 30vh 0 0 25vw;
}

.son-3-blurb {
    top: -5vh;
    right: -15vw;
}

.son-4 {
    width: 30vw;
    margin: 30vh 0 0 45vw;
}

.son-4-blurb {
    top: -5vh;
    right: -5vw;
}

.son-recap {
    margin-top: 20vh;
}
.cts-splash {
    width: 70vw;
    margin: 50vh 0 0 20vw;
}

.cts-splash-blurb {
    top: -10vh;
}

.cts-dropdown {
    width: 70vw;
    margin: 20vh 0 0 10vw;
}

.cts-dropdown-blurb {
    top: -15vh;
    right: -10vw;
    width: 30vw;
}

.cts-action-1 {
    width: 70vw;
    margin: 30vh 0 0 10vw;
}

.cts-action-1-blurb {
    top: -10vh;
}

.cts-action-2 {
    width: 70vw;
    margin: 10vh 0 0 25vw;
}

.cts-action-2-blurb {
    top: -5vh;
    right: 20vw;
    width: 40vw;
}

.obg-splash {
    width: 70vw;
    margin: 50vh 0 0 20vw;
}

.obg-splash-blurb {
    top: -10vh;
    right: 30vw;
    width: 20vw;

}

.obg-main {
    width: 70vw;
    margin: 25vh 0 0 10vw;
}

.obg-main-blurb {
    top: -10vh;
    left: 20vw;
    
}

.obg-action-1 {
    width: 70vw;
    margin: 30vh 0 0 20vw;
}

.obg-action-1-blurb {
    top: -5vh;
    left: 0;
    
}

.obg-action-2 {
    width: 70vw;
    margin: 40vh 0 0 10vw;
}

.obg-action-2-blurb {
    top: -10vh;
    right: 0vw;
}

.tell-u {
    margin: 30vh 0 0 20vw;
    width: 50vw;
}

.tell-u-blurb {
    top: -5vh;
    left: 0;
}

.sxsw-recap {
    margin: 30vh 0 30vh 20vw;
}

.sxsw-recap-blurb {
    top: -5vh;
    left: 20vw;
}

.release-3 {
    width: 50vw;
    margin: 20vh 0 0 25vw;
}

.release-3-blurb {
    top: -5vh;
}


.release-6 {
    width: 60vw;
    margin: 20vh 0 0 15vw;
}

.release-6-blurb {
    top: -5vh;
}

.release-5 {
    width: 60vw;
    margin: 20vh 0 0 25vw;
}

.release-4 {
    width: 40vw;
    margin: 20vh 0 0 40vw;
}

.release-recap {
    margin-top: 30vh;
}

.shadow-fix img {
    filter: drop-shadow(0px 3px 6px black)
}

@media (max-width:600px ) {
    .text {
        width: 100%;
        top: -5vh;
        text-align: center;
        left: 0;
        position:initial;
    }

    .margin-section {
        margin-top: 60vh;
    }

    .shadow-fix .text {
        margin-top: 14px;

    }
    .brick {
        width: 80vw;
        margin: 15vh 10vw 0 10vw;
        text-align: center;
    }

    
}