body {
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    line-height: 12px;
    text-align: center;

}

.cls-1 {
    stroke: #000;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.segment {
    width: 100%;
}

.brick {
    position: relative;
}
.text {
    position: absolute;
}

.about-2 {
    margin: 20vh 0 0 30vw;
    width: 20vw;
}

.weakness-cover {
    margin: 30vh 0 0 50vw;
    width: 35vw;
}

.weakness-blurb {
    left: -22vw;
    top: 20vh;
    width: 20vw;
}


.ep-art-1 {
    width: 30vw;
    margin: 5vh 0 0 30vh;
}

.ep-blurb {
    top: -5vh;
    left: 20%;
    margin-top: 31vh;
    width: 35vw;
}

.ep-blurb-2 {
    margin-top: 10vh;
}

.ep-art-2 {
    width: 30vw;
    margin: 20vh 0 0 46vw;
}

.impressions-blurb {
    top: -15%;
}

.ep-art-3 {
    width: 30vw;
    margin: 40vh 0 0 61vw;
}

.waterfall-blurb {
    right: 100%;
    top: 0;
}

.descriptor {
    width: 75vw;
    margin: 30vh 0 0 15vw;
    letter-spacing: 0px;
}

.weakness-gif {
    width: 30vw;
    margin-top: 45vh;
}

.descriptor img {
    width: 40%;
    margin: 5%
}

.sxsw-cover {
    width: 25%;
    margin: 25vh 0 0 10vw;
}

.sxsw-blurb {
    right: -50%;
    width: 40%;
    top: 50%;
    text-align: left;
}

.dysphoria-cover {
    width: 35vw;
    margin: 40vh 0 0 40vw;
}

.dysphoria-blurb {
    right: 0;
    top: -5vh;
}

.dysphoria-2 {
    margin: 30vh 0 0 20vw;
    width: 70vw;
}

.dysphoria-2-blurb {
    left: 0;
    top: -5vh;
}

.dysphoria-3 {
    margin: 30vh 0 0 10vw;
    width: 70vw;
}

.dysphoria-3-blurb {
    left: 0;
    top: -5vh;
}

.dysphoria-6 {
    margin: 30vh 0 0 10vw;
    width: 70vw;
}

.dysphoria-6-blurb {
    left: 0;
    top: -5vh;
}

.dysphoria-9 {
    margin: 30vh 0 0 10vw;
    width: 70vw;
}

.dysphoria-9-blurb {
    left: 0;
    top: -5vh;
}