<!doctype html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://use.typekit.net/uhf1ybn.css">
        <link rel="icon" href="assets/images/music.png" type="image/png" sizes="32x32">
    </head>
    <body>
        {{ content | safe }}
        <script src="/assets/index.js"></script>
    </body>
</html>
